/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Create some Bowfolio CSS variables. */
:root {
  --bowfolio-navbar-bg: #376551;
  --bowfolio-navbar-bg-rgb: 55, 101, 81;
  --bowfolio-navbar-text: white;
  --bowfolio-navbar-highlight-text: var(--bs-gray-500);
}
/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--bowfolio-navbar-bg);
  --bs-dark-rgb: var(--bowfolio-navbar-bg-rgb);
}

/* Color the light Brand and links with dark color */
.bg-light span, .bg-light a {
  color:  var(--bowfolio-navbar-bg);
}

/* When logged in we switch the NavBar to bg-dark so we need to override the styles to give light text. */
.bg-dark span, .bg-dark a {
  color: var(--bowfolio-navbar-text);
}

/* When logged in we highlight the selected route. */
.bg-dark a.nav-link.active {
  color: var(--bowfolio-navbar-highlight-text);
}

/* Override the color on the dropdown when logged in. */
.bg-dark a.dropdown-item {
  color: var(--bowfolio-navbar-bg);
}

/* Landing page color blocking */
.landing-green-background {
  background-color: var(--bowfolio-navbar-bg);
  color: var(--bowfolio-navbar-text);
  padding-top: 20px;
}

.landing-white-background {
  background-color: var(--bowfolio-navbar-text);
  color: var(--bowfolio-navbar-bg);
  padding-top: 20px;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}
